.detail-container{
display: flex;
/* justify-content: center; */
align-items: center;
flex-direction: column;
background-color: antiquewhite;
height: 100vh;

}
h4{
    margin-top: 100px;
}
.detail{
    margin-top: 10px;
   background-color: lightsteelblue;
    width: 500px;
    height: 90vh;
    text-align: center;
    border-radius: 70px;
}
.img{
    border-radius: 200px;
}
